img {
  height: 20rem;
  width: 17rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3);
  gap: 2.5rem;
  text-align: center;
}

p {
  margin: 1.2rem 0 2rem;
  font-size: 1.3rem;
}
#goalbox {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.portfolio-item {
  background: transparent;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 2px solid black;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

}

.portfolio-item:hover {
  border-color: var(--maincolor-variant);
  background: rgba(162, 91, 255, 0.46);
}
.portfolio-item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio-item h3 {
  margin: 1.1rem 0 2rem;
  font-size: 1.6rem;
}

@media screen and(max-width:1024px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}
@media screen and(max-width:600px) {
  .projects-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
