* {
  align-items: center;
}

section {
  text-align: center;
}

#resume {
  width: 50%;
  height: 50%;
  overflow: hidden;
  margin: auto;
  padding: 3rem;
}

@media (max-width: 768px) {
  #resume {
    width: 100%;
    height: auto;
    padding: 1.5rem;
  }
}
 